// General Style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $primary-font;
    line-height: 1.5;
    background: $primary-color;
}

input, textarea {
    font-family: $primary-font;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}


.main-card {
    width: 100%;
    margin: 3rem auto;
    padding: 1.5rem 1rem 2rem;

    .attributes-form.grid {
        justify-content:stretch;
        margin: 0 1.25rem;

        grid-template-areas:
            "firstname firstname"
            "lastname lastname"
            "age height-container"
            "gender-container gender-container"
            "is-married-container is-married-container"
            "additional-info-container additional-info-container"
            "submit submit"
        ;

        #firstname {grid-area: firstname;}
        #lastname {grid-area: lastname;}
        #age {grid-area: age;}
        .height-container {grid-area: height-container;}
        #gender-container {grid-area: gender-container;}
        #is-married-container {grid-area: is-married-container;}
        #additional-info-container {grid-area: additional-info-container;}
        #submit {grid-area: submit;}

        input[type="text"], input[type="number"] {
            width: 100%;
            padding: 0.5rem 0.6rem;
            font-size: 1.1rem;
            border: none;
            border-bottom: 2px solid $primary-color;
            outline: none !important;
            background: $light-color;
            margin-bottom: 0.5rem;
        }

        .height-container.flex {
            #height.flex {
                justify-content: space-evenly;
                width: 100%;
                
                input[name="height"] {
                    display: inline;
    
                    &:first-of-type {
                        margin-left: 1rem;
                        margin-right: 0.5rem;
                    }
                }
            }
    
            .btn-group {
                margin-left: 1rem;
                display: flex;
    
                .height-btn {
                    margin: 0;
                    padding: 0.25rem 0.5rem;
                    min-width: 35px;
                    font-size: 1.1rem;
                    outline: none !important;
    
                    &:first-child {
                        border-radius: 5px 0 0 5px;
                    }
    
                    &:last-child {
                        border-radius: 0 5px 5px 0;
                    }
    
                    &.active {
                        background: $primary-color;
                        color: set-text-color($primary-color);
                    }
    
                    &:active {
                        opacity: 70%;
                    }
                }
            }
        }

        .radio {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;

            .radio-title {
                display: block;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            .radio-group.grid {
                grid-template-columns: repeat(3, 1fr);
                margin-left: 2.5rem;
                
                .radio-control {
                    display: inline;
                }
            }
        }

        #submit {
            width: 70%;
            justify-self: center;
            font-size: 1.25rem;
            font-weight: 600;
            outline: none !important;
            transition: all 0.2s ease;

            &:active {
                opacity: 70%;
            }
        }
    }
}


#loader {
    display: none;
    // height: 100px;
    // width: 100px;
}


#results-container {
    display: none;

    #results {
        h4 {
            margin-bottom: 3px;
            margin-left: 5px;
        }

        .progress {
            margin-bottom: 1.25rem;

            &:last-child {
                margin-bottom: 0.8rem;
            }
        }
    }
}